nav{
    a{
        text-decoration: none;
        color: black;
    }
}

li{
    border: 1px solid black;
    list-style: none;
    width: 100%;
    a{
        text-decoration: none;
        color: white;
    }
}

.img-sect1{
    height: 30rem;
}
// body{
//     color: red;
// }
i{
    padding: 0;
}

.profile_menu_deroulant{
    width: 90%;
}

.profile_arrow{
    width: 10%;
}

.img_section_1{
    width: 100%;
}

.card_section-2{
    margin: 0;
}

.card_section_3{
    width: 13.6rem;
}

.text_art_sect4{
    width: 14rem;
    padding: 1rem;
}

.card_section_5{
    width: 17.1rem;
}


.newletter{

    a{
        text-decoration: none;
        color: white;
    }
    .fa-paper-plane{
        font-size: 200%;
    }
}


@media screen and (max-width: 640px) {
    
    .card_section_3{
        width: 100%;
    }

    .card_section_5{
        width: 100%;
    }

    .img_section_1{
        width: 100%;
    }
    
    
  }