// .img-sect1{
//     height: 30rem;
// }
// body{
//     color: red;
// }
i{
    border: 1px solid black;
    padding: 0;
}

.text_art_sect3{
    width: 23rem;
    padding: 1rem;
}

.text_art_sect4{
    width: 14rem;
    padding: 1rem;
}

.text_art_sect5{
    width: 23rem;
    padding: 1rem;
}

li{
    border: 1px solid black;
    list-style: none;
    width: 100%;
}